body {
  font-family: Consolas;
  background-color: #f2f2f2;
  padding: 30px;
}

.center {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.inputSearch {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  width: 90%;
}

.flex-col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.board {
  background-color: #fff;
  border: 2px solid lightgray;
  border-radius: 4px;
  width: 45%;
  height: 350px;
  margin-top: 20px;
  padding: 10px;
  overflow-x: auto;
}